 <div class="hero-image2">
  <div class="hero-text">
    <h1>WELCOME TO NOODELIVERY CUSTOMER DASHBOARD</h1>
    <h3>Hi {{session.firstname}} {{session.lastname}}! </h3> 
  <a href = "/meals" class="btn btn-primary">VIEW ALL MEALS</a>
  </div>
</div>