 <!--HERO IMAGE--> 
<div class="hero-image1">
  <div class="hero-text">
    <h1>NOODELIVERY</h1>
    <h3>Noodles from our kitchen to yours!</h3>
    <a href="/meals" class="btn btn-primary">OUR TOP MEAL PACKAGES</a>
  </div>
</div>

 <!--CONTENT (HOW IT WORKS)--> 
<div class="container">
<div class="container" id="content">
<div class="row">
  <div class="column">
    <div class="content">
      <img class="img-responsive" src="choose.jpg" alt="Choose" style="width:87%">
      <h3>Choose</h3>
      <h5>Choose from our selection of meals</h5>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img class="img-responsive"src="wait.jpg" alt="Wait" style="width:87%">
      <h3>Wait</h3>
      <h5>We will deliver your order in less than an hour</h5>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img class="img-responsive"src="heat.jpg" alt="heat" style="width:87%">
      <h3>Heat</h3>
      <h5>It's best to enjoy it while it's hot</h5>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img class="img-responsive" src="enjoy.jpg" alt="enjoy" style="width:87%">
      <h3>Enjoy</h3>
      <h5>Eat at comfort of you own space</h5>
    </div>
  </div>
</div>
</div>
</div>

<div class="hero-image">
  <div class="hero-text">
    <h1>Our chefs are making these right now!</h1>
    <p>We are not really making these but it sure look delicious!</p>
  </div>
</div>
    
<!--CONTENT (HOW IT WORKS) END-->

<!--Top Meal Packages GRID-->

  <div class="container" id="topmeals">
    <div class="row">
    {{#grouped_each 1 data}}
  <div class="col-md-3 item">
    {{#each this }}
     <img src={{{image}}}  style="width:100%;"><br>
        <strong>{{title}}</strong><br>
        Price: CA${{price}}<br>
      
    {{/each}}
  </div>
{{/grouped_each}}
</div>
    </div>
<!--Top Meal Packages end-->

